---
import Home from '../components/Home.astro';
import Layout from '../layouts/Layout.astro';
import SectionAll from '../components/SectionAll.astro'
import Endpoints from '../components/Endpoints.astro';
import Getpoint from '../components/Getpoint.astro'
---

<Layout 
	title="web-fake-videoGames-api"
	description='Bienvenido a Fake Video Games API, una interfaz de programación de aplicaciones (API) diseñada para simular datos relacionados con videojuegos. Esta API, desarrollada con Node.js y Express, ofrece una experiencia ficticia para acceder y gestionar información sobre juegos, desarrolladores y editores de videojuegos.'
>
	<main class=" px-4 justify-center flex flex-col items-center ">
		<SectionAll>
			<Home/>
		</SectionAll>
		<SectionAll>
			<Endpoints>
				<Getpoint/>
			</Endpoints>
		</SectionAll>
		<SectionAll>
		</SectionAll>
	</main>
</Layout>